* { 
    box-sizing: border-box; 
}
body{
    background-color:white;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif; 
    background-image: linear-gradient(#eeeeee, #ffffff);
    background-attachment: fixed;
    margin: 0px;
}
div header{
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header h1{
    line-height: 140%;
    padding: .5rem;
}
nav{
    font-weight: bold;
    background-color: lightgray;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
}
h2{
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
dt{
    color: #003058;
    font-weight: bold;
}
.ut{
    color: #BA1C21;
    font-weight: bold;
}
footer{
    font-size: .70rem;
    font-style: italic;
    text-align: center;
}
#wrapper{
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
h1 {
    background-position: right;
    padding-left: 1em;
    background-origin: content-box;
    margin-bottom: 0;
}
h3{
    color: #003058;
}
main{
    padding-left: 2rem;
    padding-right: 2rem;
}
#homehero {
    height: 300px;
    background-size: cover;
    background-image: url("../homehero.jpg");
    background-position: center;
}
#studenthero {
    height: 300px;
    background-size: cover;
    background-image: url("../studenthero.jpg");
    background-position: center;
}
#facultyhero {
    height: 300px;
    background-size: cover;
    background-image: url("../facultyhero.jpg");
    background-position: center;
}
nav a {
    text-decoration: none;
}


