body{
    background-color:white;
    text-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #003058;
    text-color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}