* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
}

.parent {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: 80px repeat(2, 2fr) 80px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

/* Grid Children */
.header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: #4748A4;
}

.nav {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background-color: #8C7E9C;
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  background-color: #CAAEE7;
}

.aside {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  background-color: #8C7E9C;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  background-color: #4748A4;
}