* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    gap: 10px;
    padding: 10px;
    min-height: 100vh;
    background: #f4f4f4;
  }
  
  /* Grid Children */
  .header {
    grid-column: 2 / 8;
    background-color: rgba(255, 0, 0, 0.3);
    height: 100px;
  }
  
  .nav {
    grid-column: 2 / 3;
    background-color: rgba(0, 255, 0, 0.3);
    height: 300px;
  }
  
  .main {
    grid-column: 3 / 7;
    background-color: rgba(0, 0, 255, 0.3);
    height: 300px;
  }
  
  .aside {
    grid-column: 7 / 8;
    background-color: rgba(255, 255, 0, 0.3);
    height: 300px;
  }
  
  .footer {
    grid-column: 2 / 8;
    background-color: rgba(255, 0, 255, 0.3);
    height: 100px;
  }