.parent {
    display: grid;
    grid-template-columns: 50px 3fr 50px;
    grid-template-rows: 50px 2fr 75px 3fr 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
nav a{
    width: fit-content;
    height: 50px;
    color: aqua;
}
#header {
    background-color: rgba(255,255,255,0.3);
    grid-column-start: auto;
}
#main {
    background-color: rgba(255,255,255,0.3);
    grid-column-start: 1
}